//- Переменные
- var lang = "en"
- var title = 'Hello'
- var Bootstrap = true
- var GoogleFonts = true
//- В переменные можно добавлять данные
//- Первый вариант
- title += ' | WORLD!'
//- Второй вариант
- title = title.concat(' | LOOK!')

//- Добавление ссылки текущей страницы (пригодится в меню)
- var currentPage = 'index.html'